# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Metadata
.DS_Store
Thumbs.db

# Virtual Environments
.env
.venv
env/
venv/
ENV/
venv.bak/

# Local Scratch / Testing files
scratch/
*.log
